#song-list{
  font-family: 'Stylish', sans-serif;
}

.h100 {
  height: 100vh;
}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

audio {
  width: 100%;
}

#top {
  height: 100vh;
  background-image: url('background2.gif');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroll-down {
  align-items: flex-end;
}
#list-background {
  background-image: linear-gradient(#be628d, white)
}

#top input {
  height: 50px;
  font-family: 'Stylish', sans-serif;
  font-size: 35px;
}

#top button {
  height: 50px;
  font-size: 25px;
  font-family: 'Stylish', sans-serif;
}

